<%- include('../layout/header')%>
  <div class="jumbotron">
    <h1 class="display-4 text-center" > <%= title %> </h1>
    <a class="btn btn-primary btn-lg" href="/" role="button">Voltar!</a>
  </div>
<%- include( '../layout/footer' )%>